
<div class="card">
        <div class="card-title">

            <a href = "/viewGroupTask/<%= groupCard.group_id %>" >
            <button class="btn" id ="btnViewGroup">
                View Group
              </button> 
            </a>
        </div>

    <div class="card-content">
        <h2>Overview of <%= groupCard.name %> </h2>
        <p> <%= user.name %></p>
        <p> <%= groupCard.name %></p>
        <p> <%= loggedIn %></p>
    </div>

    <div class = "cardButtons">
      
</div>
</div>
