<div class="dashboard-number-card">
  <h5 class="dashboard-number-value"><%= task.title %></h5>
  <div>
    <!-- <p class="dashboard-number-area" id="due-date-<%= task.id %>"> -->
          <p class="dashboard-number-area" id="due-date-<%= task.id %>">

      <%= task.due_date %>
    </p>
    <p class="dashboard-number-delta">
      <%= task.description %>
    </p>
  </div>
</div>

