<!DOCTYPE html>
<html lang="en">
<head><%- include('partials/heading.ejs') %></head>
<body>
    <!-- Animated Background -->
    <%- include('partials/animation.ejs') %>

    <!-- Top Navigation -->
    <%- include('partials/navigation.ejs') %>

    <!-- Main Content -->
    <div class="main-content">
        <div class="text-container">
            <h2>Add New Member</h2>
            <form class="submitFormCreateAccount" action="/addMember" method="POST">
                <label for="email">Email</label>
                <input type="text" id="email" name="email" required>
                
                <label for="group">Select Group</label>
                <% if (error) { %>
                    <p>No User available</p>
                <% } %>
                <select id="group" name="group" required>
                    <% for (let i = 0; i < groups.length; i++) { %>
                        <option value="<%= groups[i].group_id %>"><%= groups[i].name %></option>
                    <% } %>
                </select>

                <div class="button-container">
                    <button class ="btn" type="button" onclick="history.back()">Back</button>
                    <button type="submit">Add</button>
                </div>
            </form>
        </div>
    </div>
</body>
</html>
