<!DOCTYPE html>
<html lang="en">
<header>
    <%- include("partials/navigation")-%>
</header>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>View Group Tasks</title>
    <link rel="stylesheet" href="/css/zaraHomepage.css"> <!-- Assuming you have a separate CSS file -->
</head>

<body>
    <!--
    <header>
        <nav>
            <img src="/images/flat_app.png">
            <h1>
                <%= group[0].name %> Chores
            </h1>
            <ul>
                <li><a href="#">View Group Task</a></li>
                <li><a href="#">View Your Task</a></li>
                <li><a href="#">Create New Task</a></li>
                <li><a href="#">Create New Group</a></li>
            </ul>
        </nav>
    </header>
-->
    <main>
        <section id="overview">
            <h2>Overview</h2>
            <h2>Group Join Code: "<%= group[0].join_code %>"</h2>
            <a href="/userHomePage">
                <button class="userHomePageBtn">Home Page</button>
            </a>

            <a href="/taskHistoryOfGroup/<%= groupId %>">
                <button class="taskHistoryBtn">See Task History</button>
            </a>
            <!-- <a href="/addUserToGroup/<%= groupId %>"> -->
                <a href="/addUserToGroup">

                <button class="addMemberToGroup">Add member to group</button>
            </a>
            <a href="/createGroupTask/<%= groupId %>">

                <button class="createTasks">Create and Assign Tasks</button>
            </a>
            <div id="today">
                <h3>Today</h3><!-- this should allow user to edit task by adding or removing them-->
                <table>
                    <thead>
                        <tr>
                            <th>Status</th>
                            <th>Task</th>
                            <th>Assigned</th>
                            <th>Complete</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% if (tasks_today && tasks_today.length> 0) { %>
                            <% for (let i=0; i < tasks_today.length; i++) { %>
                                <tr>
                                    <td>
                                        <%= tasks_today[i].status %>
                                    </td>
                                    <td>
                                        <%= tasks_today[i].description %>
                                    </td>
                                    <td>
                                        <%= tasks_today[i].name %>
                                    </td>
                                    <td>
                                        <form action="/markComplete/<%= tasks_today[i].task_id %>" method="POST">
                                            <button type="submit">Mark Complete</button>
                                        </form>
                                    </td>
                                </tr>
                                <% } %>
                                    <% } %>
                    </tbody>
                </table>
            </div>
            <div id="tomorrow">
                <h3>Tomorrow</h3>
                <table>
                    <thead>
                        <tr>
                            <th>Status</th>
                            <th>Task</th>
                            <th>Assigned</th>
                            <th>Complete</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% if (tasks_tomorrow && tasks_tomorrow.length> 0) { %>
                            <% for (let i=0; i < tasks_tomorrow.length; i++) { %>
                                <tr>
                                    <td>
                                        <%= tasks_tomorrow[i].status %>
                                    </td>
                                    <td>
                                        <%= tasks_tomorrow[i].description %>
                                    </td>
                                    <td>
                                        <%= tasks_tomorrow[i].name %>
                                    </td>
                                    <td>
                                        <form action="/markComplete/<%= tasks_tomorrow[i].task_id %>" method="POST">
                                            <button type="submit">Mark Complete</button>
                                        </form>
                                    </td>
                                </tr>
                                <% } %>
                                    <% } %>
                    </tbody>
                </table>
            </div>
            <div id="thisWeek">
                <h3>This Week</h3>
                <table>
                    <thead>
                        <tr>
                            <th>Status</th>
                            <th>Task</th>
                            <th>Assigned</th>
                            <th>Complete</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% if (tasks_week && tasks_week.length> 0) { %>
                            <% for (let i=0; i < tasks_week.length; i++) { %>
                                <tr>
                                    <td>
                                        <%= tasks_week[i].status %>
                                    </td>
                                    <td>
                                        <%= tasks_week[i].description %>
                                    </td>
                                    <td>
                                        <%= tasks_week[i].name %>
                                    </td>

                                    <td>
                                        <form action="/markComplete/<%= tasks_week[i].task_id %>" method="POST">
                                            <button type="submit">Mark Complete</button>
                                        </form>
                                    </td>
                                </tr>
                                <% } %>
                                    <% } %>
                    </tbody>
                </table>
            </div>
        </section>
    </main>
    <footer>
        <!-- Footer content -->
    </footer>
    <script>
    </script>
</body>

</html>